* {
  cursor: default;
}

.App {
  text-align: center;
}

a {
  color: #191919;
  text-decoration: none;
}

textarea {
  width: 250px;
  height: 350px;
  resize: none;
  margin: 10px;
}

.txt-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mg-10 {
  margin: 10px;
}

.mg-30 {
  margin: 30px;
}

#num_count_result {
  margin: 30px;
}

.red {
  color: red;
}

.content_wrap {
  display: flex;
  padding: 10px;
  align-items: flex-end;
}

.link {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.count_wrap {
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-wrap: wrap;
}

table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}

.tb-drwNo {
  width: 8%;
}

.tb-totSell, 
.tb-firstWin, 
.tb-firstAccum {
  width: 27%;
}

.tb-firstPrzwnerCo {
  width: 10%;
}

.num-input {
  width: 30px;
}

.drw-no-input {
  width: 100px;
}

.rand_num {
  width: 20px;
  display: inline-block;
  margin: 12px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgb(87, 49, 42);
  color: #e5e5e5;
}

.win_no {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 50%;
}

.bnus {
  display: inline-block;
  margin: 10px 3px;
  padding: 10px 0px;
  width: 15px;
  height: 30px;
}

.drw_no_wrap {
  display: flex;
  flex-wrap: wrap;
}